@import "tailwindcss";

@theme {
    --color-card-bg: #ffffffe5 !important;
    --color-card-text: #000000 !important;

    --color-foreground: #000000 !important;
}

.light {
    --color-card-bg: #1a1a1a !important;
    --color-card-text: #ffffff !important;

    --color-foreground: #ffffff !important;
}

.light .glassـnavbar {
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(25px) saturate(150%);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

@layer base {
    button:not(:disabled),
    [role="button"]:not(:disabled) {
        cursor: pointer;
    }
}

@layer utilities {
    .bg_gradient {
        @apply bg-linear-to-r from-green-600 to-lime-400 shadow-[0_0_20px_rgba(34,197,94,0.45),0_0_28px_rgba(16,185,129,0.35),0_0_48px_rgba(132,204,22,0.25)];
    }
    .border_gradient {
        @apply bg-linear-to-r from-green-600 to-lime-400 p-[1px];
    }
    .text_gradient {
        background-image: linear-gradient(
            to right,
            var(--color-green-600),
            var(--color-lime-400)
        );
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        text-fill-color: transparent;
        display: inline-block;
        padding-bottom: 3px;
    }
    .glassـnavbar {
        background-color: rgba(255, 255, 255, 0.12);
        backdrop-filter: blur(25px) saturate(150%);
        -webkit-backdrop-filter: blur(25px) saturate(150%);
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    }
    .btn {
        @apply cursor-pointer bg-linear-to-r from-green-600 to-lime-400 shadow-[0_0_20px_rgba(34,197,94,0.45),0_0_28px_rgba(16,185,129,0.35),0_0_48px_rgba(132,204,22,0.25)] flex items-center justify-center gap-2 transition-all duration-300 hover:shadow-2xl;
    }
    .btn_sm {
        @apply h-10 w-30 text-[16px] rounded-lg;
    }
    .btn_md {
        @apply h-12 w-35 text-lg rounded-xl;
    }
    .btn_lg {
        @apply h-14 w-40 text-xl rounded-2xl;
    }
    .badge_esay {
        @apply bg-blue-400 p-1 rounded-2xl text-sm font-bold
    }
    .badge_mid {
        @apply bg-amber-500 p-1 rounded-2xl text-sm font-bold
    }
    .badge_hard {
        @apply bg-red-700 p-1 rounded-2xl text-sm font-bold
    }
}

html {
    direction: rtl;
}

body {
    font-feature-settings: "ss01";
}

.stats_container > div {
    @apply rounded-lg flex flex-col items-center gap-y-5 h-30 py-2 text-[24px] font-bold bg-linear-to-r from-green-600 to-lime-400 shadow-[0_0_20px_rgba(34,197,94,0.45),0_0_28px_rgba(16,185,129,0.35),0_0_48px_rgba(132,204,22,0.25)];
}

.form_card {
    @apply bg-white/20 backdrop-blur-xl rounded-2xl p-8 border-2 border-green-500/50 ring-2 ring-green-500/20;
}
